.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.75rem;
}
.logo {
    width: 4.9375rem;
    height: 1.75rem;
    background-image: url(../img/logo.png);
}
.nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', SansSerif;
    font-weight: 600;
    font-size: 0.65625rem;
    text-transform: uppercase;
}
.nav-item {
    line-height:; 0.65625rem;
    color: var(--blackColor);
}