* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 0;
}
a {
    text-decoration: none;
    color: rgba(180, 173, 158, 255);
    font-size: 14px;
}
ul {
    text-align: center;
    text-transform: uppercase;
}
p {
    color: rgba(98, 98, 98, 255);
    font-size: 14px;
}
.wrapper {
    width: 900px;
    margin: auto;
    padding-top: 77px;
    padding-bottom: 70px;
}
header {
    margin-bottom: 103px;
}
.navi {
    display: inline-block;
    margin-right: 80px;
}
.navi:last-child {
    margin-right: 0;
}
a:hover {
    color: #03a9f4;
}
img {
    width: 420px;
    height: 280px;
    margin-bottom: 20px;
}
article {
    display: inline-block;
    width: 420px;
    /*background-color: yellow;*/
    vertical-align: top;
    margin: auto;
    margin-bottom: 70px;
}
main article:nth-child(2n+1) {
    margin-right: 60px;
}
main article:nth-last-child(2), main article:nth-last-child(3) {
    margin-bottom: 0;
}
main {
    width: 900px;
    margin: auto;
}
.artheader {
    margin-bottom: 20px;
    font-size: 30px;
}
.lifestyle {
    display: block;
    font-size: 14px;
    color: rgba(180, 173, 158, 255);
    text-transform: uppercase;
    margin-bottom: 20px;
}
.but {
    display: block;
    margin: 40px auto 0;
    font-size: 14px;
    width: 164px;
    height: 60px;
    border: 2px solid rgba(98, 98, 98, 255);
    font-size: 20px;
    color: rgba(98, 98, 98, 255);
    background-color: #fff;
}