.header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.75rem;
    margin-bottom: 7.9375rem;
}
.logo {
    font-family: var(--title-two-font);
    font-size: 1.875rem;
    font-weight: 700;
    color: var(--mainColor);
}
.nav {
    font-family: var(--title-two-font);
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    width: 40.83333%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.8rem;
}
.nav-item {
    transition: 0.2s;
    color: var(--mainColor);
}
.nav-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.1875rem;
    background-color: var(--additionalColor);
    margin-top: 0.75rem;
    opacity: 0;
}
.nav-item:hover::after {
    opacity: 1;
}
.nav-item:hover {
    color: var(--additionalColor);
    cursor: context-menu;
}
