:root {
    --mainColor: #95e1d3;
    --additionalColor: #f38181;
    --par-color: #999999;
    --title-one-font: 'Kaushan Script', cursive;
    --title-two-font: 'Montserrat', sans-serif;
    --par-font: 'Roboto', sans-serif;
}
