.sect-one {
    padding: 3.125rem 0 5rem;
}
.title--sect {
    margin-bottom: 4.125rem;
}
.title--sect:after {
    content: '';
    display: block;
    margin: 2.625rem auto 0;
    width: 3.75rem;
    height: 0.1875rem;
    background-color: #f38181;
}
.sect-one__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 15rem;
    align-content: space-between;
}
.sect-one__card {
    flex-basis: 30%;
}
.sect-one__icon {
    vertical-align: top;
    margin-right: 1.75rem;
}
.info {
    display: inline-block;
    max-width: 80%;
}
.info__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
}
.info__text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: rgba(153, 153, 153, 255);;
}